body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: $textColor;
}
.h1, h1 {
    font-size: calc(2rem - 2px); // 30px
}
.h2, h2 {
    font-size: calc(2rem - 7px); // 25px
}

.h3, h3 {
    font-size: calc(2rem - 9px); // 23px
}

.h4, h4 {
    font-size: calc(2rem - 12px); // 20px
}
