.page-content,
.blog-content {
	padding: 3rem 0;
	p {
		margin-bottom: 1.5rem;
	}
}

.page-title {
	background: $secondaryColor;
	h1 {
		margin: 0;
		padding: 1.5rem 1rem;
		text-align: center;
		color: white;
	}
}

.checklist {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	li {
		font-size: 1.3rem;
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		img {
			margin-right: 1.5rem;
		}
	}
}

.home-cards {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	margin-top: 0.5rem;
	.home-card {
		position: relative;
		flex: 1 0 29%;
		background: #000;
		overflow: hidden;
		&:nth-child(2) {
			margin: 0 0.5rem;
		}
		img {
		    animation: move 12s ease;
		    animation-fill-mode: forwards;
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			text-align: center;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: background-color 0.5s cubic-bezier(1, 0, 0, 1);
		}
		h2,
		.btn-container {
			position: relative;
			left: -100%;
			transform: translateX(-50%);
		}
		h2 {
			top: 45%;
			margin: 0;
			transition: left 0.4s ease-in-out;
		}
		.btn-container {
			top: 53%;
			transition: left 0.5s 0.075s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		&:hover {
			.overlay {
				background-color: rgba(black,0.85);
			}
			h2 {
				left: 50%;
			}
			.btn-container {
				left: 50%;
			}
		}
	}
}

.affiliation-list-item {
	align-items: center;
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
    .logo {
        flex-grow: 0;
        text-align: center;
        min-width: 300px;
        p {
        	margin: 0 !important;
        }
        img {
        	max-width: none;
        }
        a:hover {
        	opacity: 0.75;
        }
    }
    .description {
    	// align-self: flex-end;
    }
}

.blurred-bg {
	background: url(img/blurred-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 3rem 1rem;
	margin-top: 5rem;
}

.page-footer-boxes {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.box-item {
		position: relative;
		width: 300px;
		height: 296px;
		flex: 0 0 auto;
		margin: 0.25rem;
		font-size: 1.15rem;
		font-weight: 600;
		color: #282425;
		background-color: rgba(white,0.25);
		border: 2px solid rgba(white,0.9);
		p {
			margin: 0;
			opacity: 0.9;
		}
	}
	// Specific to "solutions" pages
	&.regulation-boxes {
		.box-item {
			padding: 3rem 1.5rem 0 1.5rem;
			.check {
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
		}
	}
	// Specific to "services" pages
	&.certified-boxes {
		.box-item {
			margin: 0.5rem;
			padding: 2.1rem 1.5rem 0 1.5rem;
			font-size: 1.2rem;
			.check {
				text-align: center;
				margin-bottom: 1.5rem;
			}
			&.img-only {
				padding: 2rem 0;
				text-align: center;
			}
		}
	}

}

// FAQ
.accordion-title {
	font-size: 1.25rem;
	cursor: pointer;
	i {
		color: $primaryColor;
		opacity: 0.9;
		margin-right: 0.5rem;
		padding: 0.25rem 0.35rem;
		font-weight: lighter;
		font-size: 0.9rem;
		border: 1px solid $lightGray;
		vertical-align: text-top;
	}
}
.accordion-content {
	display: none;
	color: $secondaryColor;
	padding-left: 2rem;
	font-size: 1.1rem !important;
	a {
		color: $textColor !important;
		&:hover {
			color: $primaryColor !important;
		}
	}
	&.open {
		display: block;
	}
}

// Adjust bottom padding on the contact page
.page-id-15 {
	.page-content {
		padding-bottom: 1rem;
	}
}
.contact-us-info {
	h3 {
		margin-bottom: 0.25rem !important;
	}
	.col {
		margin-bottom: 3rem;
	}
}

.contact-us-map {
	display: flex;
	padding: 0 !important;
	p {
		width: 100%;
		height: 100%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

// Doc shredding -> drop-off
.drop-off-map {
	display: flex;
	iframe {
		width: 100%;
	}
	p {
		width: 100%;
		height: 100%;
		margin: 0 !important;
	}
}
// Adjust margin for the above page's blurred-bg
.page-id-157 {
	.blurred-bg {
		margin-top: 0;
	}
}

// Ignore those stragglers
main p:last-child {
	margin: 0 !important;
}

.alignleft {
	float: left;
	margin: 1rem 1rem 1rem 0;
}
.alignright {
	float: right;
	margin: 1rem 0 1rem 1rem;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bg-light-gray {
	background-color: $lightGray;
}

.text-lg {
	font-size: 1.2rem;
}

@media screen and (max-width: 660px) {
    .home-cards {
        .home-card {
            flex: 1 0 100%;
            margin: 0.25rem 0 !important;
        }
    }
}

@media screen and (max-width: 991px) {
	.contact-us-info {
		h3 {
			font-size: 1.15rem;
		}
		p {
			font-size: 1rem;
		}
	}
	.alignleft,
	.alignright {
		float: none;
		margin: 1rem auto;
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 767px) {
}
