.page-content,
.blog-content {
	padding: 3rem 0;
	p {
		margin-bottom: 2rem;
	}
}

.page-title {
	background: $secondaryColor;
	h1 {
		margin: 0;
		padding: 1.5rem 1rem;
		text-align: center;
		color: white;
	}
}

.homepage-hero {
	img {
		max-width: 100%;
		height: auto;
	}
}

.checklist {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	li {
		font-size: 1.3rem;
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		img {
			margin-right: 1.5rem;
		}
	}
}

.home-cards {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	margin-top: 0.5rem;
	.home-card {
		position: relative;
		flex: 1 0 29%;
		background: #000;
		overflow: hidden;
		&:nth-child(2) {
			margin: 0 0.5rem;
		}
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			text-align: center;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transition: background-color 0.5s cubic-bezier(1, 0, 0, 1);
		}
		h2,
		.btn-container {
			position: relative;
			left: -100%;
			transform: translateX(-50%);
		}
		h2 {
			top: 45%;
			margin: 0;
			transition: left 0.4s ease-in-out;
		}
		.btn-container {
			top: 53%;
			transition: left 0.5s 0.075s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
		&:hover {
			.overlay {
				background-color: rgba(black,0.85);
			}
			h2 {
				left: 50%;
			}
			.btn-container {
				left: 50%;
			}
		}
	}
}

.affiliation-list-item {
	align-items: center;
    &:not(:last-child) {
        margin-bottom: 5rem;
    }
    .logo {
        flex-grow: 0;
        text-align: center;
        min-width: 300px;
        p {
        	margin: 0 !important;
        }
        img {
        	max-width: none;
        }
        a:hover {
        	opacity: 0.75;
        }
    }
    .description {
    	// align-self: flex-end;
    }
}

.text-lg {
	font-size: 1.2rem;
}
