.footer-contact {
	margin-top: 3rem;
}
.footer-tagline {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-weight: 600;
}

.site-footer {
	background-color: $secondaryColor;
	color: #fff;
	padding: 5rem 0 1rem 0;
	.associations {
		margin-bottom: 1.5rem;
	}
	.copyright {
		justify-content: center;
		align-items: center;
		font-size: 0.8rem;
	}
}

.primary-footer {
	margin-bottom: 5rem;
	padding-bottom: 5rem;
	border-bottom: 1px solid #94A5B3;
	justify-content: space-between;
	align-items: center;
	a, a:hover {
		color: #fff;
	}
	.request-quote {
		// flex: 0 0 19%;
	}
	.phone {
		text-align: center;
		font-size: 1.35rem;
	}
	.social-icons {
		text-align: center;
		font-size: 1.25rem;
		a {
			padding: 0.25rem;
			background-color: $lightGray;
			color: $secondaryColor;
			transition: all 0.2s ease-in-out;
			&:not(:last-child) {
				margin-right: 0.25rem;
			}
			&:hover {
				background-color: $primaryColor;
				color: white;
			}
		}
	}
	.logo {
		text-align: right;
	}
}

.affiliations {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	.aff {
		text-align: center;
		margin-bottom: 1.5rem;
		a {
			opacity: 0.75;
			transition: opacity 0.2s ease-in-out;
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.affiliations {
		margin-bottom: 2.5rem;
		justify-content: center;
		.aff {
			margin: 0.5rem;
		}
	}
	.primary-footer {
		justify-content: center;
		> div {
			margin: 1rem;
		}
	}
	.site-footer {
		.copyright {
			flex-direction: column;
		}
	}
}
