select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="password"],
input[type="number"],
input[type="search"],
textarea {
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 0px;
    box-shadow: none;
    background-image: none;
    // -webkit-appearance: none;
    font-family: inherit;
    font-size: 0.875rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    background-color: #fff;
    border: 1px solid #eeeeee;
    color: rgba(0, 0, 0, 0.75);
}
select {
    padding: 0.3125rem;
}
.textarea-lg {
    height: 6rem;
}
::-webkit-input-placeholder {
    color: lighten($darkGray,10%);
}

.contact-us-form-container {
    background-color: $lightGray;
    padding: 2rem 1rem 1rem 8rem;
}

.contact-us-form {
    max-width: 20rem;
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
        border: 2px solid darken($lightGray,20%);
        font-size: 1.25rem;
    }
    p {
        margin-bottom: 1.25rem !important;
    }
    .submit-container {
        .btn {
            padding: 0.75rem 4rem;
            font-size: 1.15rem;
        }
    }
    ::-webkit-input-placeholder {
        color: darken($lightGray,20%);
    }
}

.footer-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 2rem;
    p {
        flex: 0 0 33%;
    }
    .submit-container {
        flex: 1 0 100%;
        margin-top: 1.25rem;
        .btn {
            padding: 0.75rem 4rem;
            font-size: 1.15rem;
        }
    }
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea {
        background-color: #e8e8ea;
        border-color: #e8e8ea;
        font-size: 1.15rem;
    }
}

.payment-form {
    max-width: 25rem;
    select,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    textarea {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;
        border: 1px solid darken($lightGray,20%);
        font-size: 1.25rem;
    }
    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    .submit-container {
        .btn {
            padding: 0.75rem 4rem;
            font-size: 1.15rem;
        }
    }
    br {
        display: none;
    }
    ::-webkit-input-placeholder {
        color: darken($lightGray,20%);
    }
}

@media screen and (max-width: 991px) {
    .contact-us-map {
        order: 2;
        min-height: 300px;
    }
    .contact-us-form-container {
        padding: 2rem;
    }
    .contact-us-form {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        max-width: none;
        p {
            flex: 1 0 45%;
            margin: 0 1rem 1rem 0;
        }
    }
}

@media screen and (max-width: 767px) {
    .footer-form {
        p {
            flex: 0 0 49%;
        }
    }
}
