.btn-secondary {
	background-color: $secondaryColor;
	border-color: $secondaryColor;
	border-radius: 0;
	color: #fff;
	&:hover {
		background-color: darken($secondaryColor,5%);
		border-color: darken($secondaryColor,5%);
		color: #fff;
	}
}
.btn-primary {
	background-color: $primaryColor;
	border-color: $primaryColor;
	border-radius: 0;
	color: #fff;
	&:hover {
		background-color: darken($primaryColor,5%);
		border-color: darken($primaryColor,5%);
		color: #fff;
	}
}
