// Navigation at the top of "services" pages
.page-menu {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
	margin: -3rem -15px 2rem -15px;
	padding: 2rem;
	background: $lightGray;
	a {
		color: lighten($mediumGray,20%);
		&:hover {
			color: $mediumGray;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			// add arrow after each link
			a:after {
				content: '\f0da';
				padding-left: 1rem;
				font-family: "fontawesome";
				opacity: 0.5;
			}
			// active page
			&.current-menu-item {
				a {
					color: $secondaryColor;
					pointer-events: none;
					&:after {
						content: '\f0d7';
					}
				}
			}
			// add a | after each menu item (li)
			&:not(:last-child):after {
				content: "|";
				font-weight: normal;
				padding: 0 1rem;
				color: lighten($mediumGray,40%);
			}
		}
	}
}

@media screen and (max-width: 430px) {
	.page-menu {
		ul {
			li:after {
				content: "" !important;
			}
		}
	}
}
